@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --fs-paragraph: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-900);
}

main article {
    width: 342px;
    background-color: var(--grey-800);
    padding: 28px;
    margin: auto;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 10px;
}

main article img {
    width: 92px;
    border-radius: 100%;
}

main article .detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

main article .detail h1 {
    font-size: 24px;
    font-weight: 500;
}

main article .detail h2 {
    font-size: var(--fs-paragraph);
    font-weight: 500;
    color: var(--green);
}

main article p {
    font-size: var(--fs-paragraph);
}

main article .button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

main article .button-wrapper button {
    width: 100%;
    padding-block: 14px;
    border-radius: 10px;
    border: none;
    background-color: var(--grey-700);
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

main article .button-wrapper button:hover {
    background-color: var(--green);
    color: var(--grey-900);
}

footer {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    inset-inline: 0;
    color: var(--white);
}

footer a {
    color: var(--green);
}